<div class="container" id="profile-show">
  <div class="persos-info-container">
    <div class="profile-left">
      <% @user.gender? ? (@gender = (@user.gender == 1 ) ? 'men' : 'women') : nil%>

      <div id="profile-picture">
        <%= image_tag 'elements/Avatar bleu-01.png', alt: 'avatar', id: "avatar"%>
      </div>
      <div id="birthday-icon">
        <%= image_tag 'elements/birth-dates/01 JANV/0101.png', alt: 'birthday-icon' %>
      </div>

      <div id="info-list">
        <h1 class="playfair"><%= @user.first_name? ? @user.first_name : nil %> <%= @user.last_name? ? @user.last_name : nil %></h1><br>
        <p id="birthday"><%= @user.birthday? ? (@user.birthday).strftime("%d/%m/%y") : nil %></p><br>
        <p id="location"><%= @user.city? ? @user.city : nil %>, <%= @user.country? ? @user.country[0..1] : nil %></p>
        <%= link_to 'Messenger', root_path, id: 'messenger-btn', class: @user.gender? ? (@user.gender == 1 ? 'color-men' : 'color-women') : nil%>
      </div>
    </div>
    <div class="profile-right">
      <div class="profile-right-top">
        <h2>About <%= @user.first_name? ? @user.first_name : nil %></h2>
        <p><%= @user.bio? ? @user.bio : nil %></p>
      </div>
      <div class="profile-right-bottom <%= @gender %>">
        <h2><b>Preferences</b></h2>
        <p>Favorite movie : <b><em><%= @user.movie? ? @user.movie : nil %></em></b></p>
        <p>Favorite music : <b><em><%= @user.music? ? @user.music : nil %></em></b></p>
        <p>Favorite book : <b><em><%= @user.book? ? @user.book : nil %></em></b></p>
      </div>
    </div>
  </div>
  <div id="separate-bar">
    <%= image_tag 'elements/picto carte-01.png', alt: 'map' %>
  </div>
  <div class="map">
  </div>
</div>
